apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
specs:
  replicas: 1
  selector:
    matchLables:
      app: grafana
  templates:
    metadata:
      labels:
        app: grafana
    specs:
      containers:
        - name: grafana
          image: grafana/grafana
          ports:
            - containerPort: 3000
---
apiVersion: v1
Kind: Service
metadata:
  name: grafana
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app: grafana
ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30001
