- name: Install Jenkins
  hosts: localhost
  become: true
  tasks:
    - name: Install Java
      yum:
        name: java-17-amazon-corretto
        state: present
    - name: Add Jenkins repo
      get_url:
        url: https://pkg.jenkins.io/redhat-stable/jenkins.repo
        dest: /etc/yum.repos.d/jenkins.repo
    - name: Import Jenkins key
      rpm_key:
        key: https://pkg.jenkins.io/redhat-stable/jenkins.io-2023.key
        state: present
    - name: Install Jenkins
      yum:
        name: jenkins
        state: present
    - name: Start Jenkins
      systemd:
        name: jenkins
        enabled: true
        state: started
